[v-cloak]{
	display:none;
}

/* Claim Componenet */
.cardForm{
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#phone{
	height: 528px;
	width: 588.776px;
}

.bgGrad{
	background: linear-gradient(to bottom, #ffffff, #dcdcdc);
}

/* Main Component */
.footerMain{
	background-color: #22353e;
}

[v-cloak]{
	display:none;
}

.v-divider{
	margin-bottom: 1rem;
}

#menuMain{
	max-width:176px;
	max-height: 64px;
	padding: 0;
}

.menuFilter{
	padding:1rem;
}
.contFilter{
	padding:1rem;
}


#mainContainer{
	padding: 16px;
}

#footerCont{
	padding: 0;
}
.featured-video {
	width: 100%;
	height: 80%;
}

/*html::-webkit-scrollbar{
	display:none;
}*/